<!DOCTYPE html>
<html lang="en">
<head>
    <title>profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
  </head>
<body>
  <br><br>
  <div class="container">
    <nav class="navbar navbar-inverse ">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand " href="http://cet.edu.in/">Nexus USA</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="http://cet.edu.in">Home</a></li>
          <li><a href="http://cet.edu.in/departments.php">Services</a></li>
          <li><a href="http://cet.edu.in/about_cet.php">About Us</a></li>
          <li><a href="http://cet.edu.in/contact_us.php">Contact Us</a></li>
          <li><a href="/index">Logout</a></li>
        </ul>
      </div>
  </nav>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <div class="card-body" style="margin:0 auto; width:fit-content;height: fit-content;"><img src="/static/gd4.jpg"></div><br>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">   
      <div class="card-body" style="margin:0 auto; width:fit-content;height: fit-content;"><img src="/static/gd3.jpg"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  

  </body>
  </html>